# Service variables
PORT=5001
LOG_LEVEL=info  
LOG_CALLER=false

# Keycloak variables
KEYCLOAK_SERVER_URL=http://localhost:8081
KEYCLOAK_REALM=smile
KEYCLOAK_CLIENT_ID=smile
KEYCLOAK_CLIENT_SECRET=
REALM_SYSUSER_NAME=sysuser
REALM_SYSUSER_PASS=smileforever

DOC_URL=/doc
CORE_API_URL=http://localhost:4000

REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_PORT=6379

RATE_LIMITER_WINDOW=60000
RATE_LIMITER_MAX_ATTEMPT=5

