
AWS_ACCESS_KEY_ID='YOUR_AWS_ID'
AWS_SECRET_ACCESS_KEY='YOUR_AWS_SECRET_KEY'

AMQP_SERVER=''

MAIL_SENDER=test@badr.co.id
SMTP_HOST=email-smtp.ap-southeast-1.amazonaws.com
SMTP_USER=
SMTP_PASSWORD=

SMS_SERVERNAME=http://secure.gosmsgateway.com/api
SMS_USERNAME=
SMS_PASSWORD=

COVID_API_URL=''
SMILE_URL=''
COVID_API_TOKEN=''
COVID_API_USERNAME=''
COVID_API_PASSWORD=''

NODE_ENV=development

DEV_DB_USERNAME=root
DEV_DB_PASSWORD=
DEV_DB_DATABASE=express
DEV_DB_HOST=127.0.0.1
DEV_DB_PORT=3306
DEV_DB_DIALECT=mysql

FCM_PROJECT_ID=myproject-ID
GOOGLE_KEY='../dir/to/google-key.json'